nav.nav-menu(class="class-menu") 
    ul.nav-menu__list(class="class-menu__list")
        li.nav-menu__item(class="class-menu__item") Lorem
            a.nav-menu__link(href="#") 
        li.nav-menu__item(class="class-menu__item") Lorem
            a.nav-menu__link(href="#") 
        li.nav-menu__item(class="class-menu__item") Lorem
            a.nav-menu__link(href="#") 
        li.nav-menu__item(class="class-menu__item") Lorem
            a.nav-menu__link(href="#") 
        li.nav-menu__item(class="class-menu__item") Lorem
            a.nav-menu__link(href="#") 