extends base/pug/base

append variables
	- var title = 'Главная страница сайта'
	- var pageClass = 'homepage'
	- var menuHref = '/'

block content  
		
		//- include components/ /
		
block script
	script(src=`${baseDir}js/main.js`)
